@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

html,
body {
  height: 100%;
  color: #fff;
  background: #09070f;
}

main {
  background: #0b0b0e;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: rgb(194, 4, 28);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-shadow-custom {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}